body{
    font-size: 16px; /* 1EM */
    margin: 0px auto;
    max-width: 1078px; /* Recomendacion del cliente */
    min-width: 1078px;
}

header input{
    float :right;
    margin-top : 10px;
    margin-right: -230px;
}
header nav{
    margin-left: 220px;
}
header nav ul li{
    display: inline-block;
    color: lightgray;
    font-size: 1.8em;
    margin-right: 15px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
    /* text-decoration: underline; */
}

#granthams{
    margin-top: 25px;
    margin-left: 25px;
}
#BgOffer{
    position: relative;
    top: -406px;
    left: -35px;
}
#paint{
    float: right;
}
#PrimerSeccion{
    /* border-color: red; */
    margin-top: 60px;
    height: 318px;
}

#PrimerSeccion article {
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: top;
}
#Secc01Art01{
    width: 60%;
    margin-left: 30px;
}
#Secc01Art02{
    width: 30%;
    margin-left: 50px;
}
#Secc01Art02 ul{
    list-style: none;
    margin-left: -40px;
}
#Secc01Art02 ul li:before{
    content:"• ";
    color: #FF0099;

}
#Secc01Art01{
    margin-top: 15px;
}
#Secc02Art01 article{
    text-align: right;
    margin-right: 160px;

}
#Secc03Art01 article{
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#Secc03Art01 article img{
    vertical-align: middle;
}
#Secc03Art04 {
    /* border: 1px solid red; */
    margin-top: 40px;
}
#Secc03Art04 input {
    border: 1px solid red;
    border-radius: 5px;
    color: blue;
    padding: 5px;
    
}

.ColorAzul{
    color: #4267b3;
}
.ColorRosa{
    color: #FF0099;
}
.ColorVerde{
    color: #8BC500;
}
.LetraGrande{
    font-size: 3.5em;
}
.LetraMediana{
    font-size: 2em;
}
.Nito{
    font-weight: bold;
}